@model tamagotchi_task.Models.ViewModels.AvatarModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="~/js/create.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/tamagotchi_task.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="bar" style="display: table; z-index:-1; position: absolute; top: -10px; right: 0px; width: 100%; box-sizing: border-box; height: 50px; margin: 0; background-color: #3D3655;"></div>
<div id="welcomeDiv" class="answer_box">
    <div>
        <img id="myWallpaper" src="@ViewBag.Wallpaper">
        <img id="myImg" src="@ViewBag.Color">
        <img id="myAccessories" src="@ViewBag.Accessory">
    </div>
    <div class="buttonChange">
        <button type="button" class="start" onclick="showAnimal()">Animal</button>
        <button type="button" class="start" onclick="showColor()">Color</button>
        <button type="button" class="start" onclick="showWallpaper()">Wallpaper</button>
        <button type="button" class="start" onclick="showAccessories()">Accessories</button>
    </div>
    <div id="showAnimal" class="buttoncolor">
        <input type="image" src="/img/catAnimal.png" onclick="document.getElementById('color').value='/img/cat0.png'; document.getElementById('wallpaper').value='/img/circle.png'; document.getElementById('accessory').value='/img/null_item.png';  document.getElementById('myImg').src='/img/cat0.png'; document.getElementById('myWallpaper').src='/img/circle.png'; document.getElementById('myAccessories').src='/img/null_item.png';">
    </div>
    <div id="showColor" style="display:none;" class="buttoncolor">
        <input type="image" src="/img/cat0.png" onclick="document.getElementById('color').value='/img/cat0.png'; document.getElementById('myImg').src='/img/cat0.png';">
        <input type="image" src="/img/cat2.png" onclick="document.getElementById('color').value='/img/cat2.png'; document.getElementById('myImg').src='/img/cat2.png';">
        <input type="image" src="/img/cat3.png" onclick="document.getElementById('color').value='/img/cat3.png'; document.getElementById('myImg').src='/img/cat3.png';">
        <input type="image" src="/img/cat4.png" onclick="document.getElementById('color').value='/img/cat4.png'; document.getElementById('myImg').src='/img/cat4.png';">
        <input type="image" src="/img/cat5.png" onclick="document.getElementById('color').value='/img/cat5.png'; document.getElementById('myImg').src='/img/cat5.png';">
        <input type="image" src="/img/cat6.png" onclick="document.getElementById('color').value='/img/cat6.png'; document.getElementById('myImg').src='/img/cat6.png';">
        <input type="image" src="/img/cat7.png" onclick="document.getElementById('color').value='/img/cat7.png'; document.getElementById('myImg').src='/img/cat7.png';">
        <input type="image" src="/img/cat8.png" onclick="document.getElementById('color').value='/img/cat8.png'; document.getElementById('myImg').src='/img/cat8.png';">
        <input type="image" src="/img/cat9.png" onclick="document.getElementById('color').value='/img/cat9.png'; document.getElementById('myImg').src='/img/cat9.png';">
        <input type="image" src="/img/cat10.png" onclick="document.getElementById('color').value='/img/cat10.png'; document.getElementById('myImg').src='/img/cat10.png';">
        <input type="image" src="/img/cat11.png" onclick="document.getElementById('color').value='/img/cat11.png'; document.getElementById('myImg').src='/img/cat11.png';">
        <input type="image" src="/img/cat12.png" onclick="document.getElementById('color').value='/img/cat12.png'; document.getElementById('myImg').src='/img/cat12.png';">
    </div>
    <div id="showWallpaper" style="display:none;" class="buttoncolor">
        @*Я намеренно оставил "пустые" обои*@
        <input type="image" src="/img/circle.png" onclick="document.getElementById('wallpaper').value='/img/circle.png'; document.getElementById('myWallpaper').src='/img/circle.png';">
        @if (ViewBag.Wallpapers != null)
        {
            @foreach (var wall in ViewBag.Wallpapers)
            {
                <input type="image" src="@wall.Image" onclick="document.getElementById('wallpaper').value='@wall.Image'; document.getElementById('myWallpaper').src='@wall.Image';">
            }
        }
        @*<input type="image" src="/img/circle1.png" onclick="document.getElementById('wallpaper').value='/img/circle1.png'; document.getElementById('myWallpaper').src='/img/circle1.png';">
            <input type="image" src="/img/circle2.png" onclick="document.getElementById('wallpaper').value='/img/circle2.png'; document.getElementById('myWallpaper').src='/img/circle2.png';">
            <input type="image" src="/img/circle3.png" onclick="document.getElementById('wallpaper').value='/img/circle3.png'; document.getElementById('myWallpaper').src='/img/circle3.png';">
            <input type="image" src="/img/circle4.png" onclick="document.getElementById('wallpaper').value='/img/circle4.png'; document.getElementById('myWallpaper').src='/img/circle4.png';">
            <input type="image" src="/img/circle5.png" onclick="document.getElementById('wallpaper').value='/img/circle5.png'; document.getElementById('myWallpaper').src='/img/circle5.png';">
            <input type="image" src="/img/circle6.png" onclick="document.getElementById('wallpaper').value='/img/circle6.png'; document.getElementById('myWallpaper').src='/img/circle6.png';">*@
    </div>
    <div id="showAccessories" style="display:none;" class="buttoncolor">
        @if (ViewBag.Accessories != null)
        {
            @foreach (var acc in ViewBag.Accessories)
            {
                <input type="image" src="@acc.Image" onclick="document.getElementById('accessory').value='@acc.AuxImg'; document.getElementById('myAccessories').src='@acc.AuxImg';">
            }
        }
        <input type="image" src="/img/null_item.png" onclick="document.getElementById('accessory').value='/img/null_item.png'; document.getElementById('myAccessories').src='/img/null_item.png';">
        @*<input type="image" src="/img/item2prew.png" onclick="document.getElementById('accessory').value='/img/item2.png'; document.getElementById('myAccessories').src='/img/item2.png';">
        <input type="image" src="/img/item3prew.png" onclick="document.getElementById('accessory').value='/img/item3.png'; document.getElementById('myAccessories').src='/img/item3.png';">
        <input type="image" src="/img/item4prew.png" onclick="document.getElementById('accessory').value='/img/item4.png'; document.getElementById('myAccessories').src='/img/item4.png';">
        <input type="image" src="/img/item5prew.png" onclick="document.getElementById('accessory').value='/img/item5.png'; document.getElementById('myAccessories').src='/img/item5.png';">*@
    </div>
    <form asp-controller="Character" asp-action="AvatarCreate">
        <input type="text" id="animal" style="display: none" value="@ViewBag.Color" asp-for="Animal"/>
        <input type="text" id="color" style="display: none" value="@ViewBag.Color" asp-for="Color"/>
        <input type="text" id="wallpaper" style="display: none" value="@ViewBag.Wallpaper" asp-for="Wallpaper"/>
        <input type="text" id="accessory" style="display: none" value="@ViewBag.Accessory" asp-for="Accessory"/>
        <button type="submit" id="finish" class="start">Set</button>
    </form>
</div>
</body>
</html>
