@model tamagotchi_task.Domain.Entities.Character

<div class="money" style="display: table; position: absolute; right: 0px; width: 100%; box-sizing: border-box; height: 50px; margin: 0; background-color: #3D3655;">
    <p style="color: white; position: relative; float: right; top: 8px; right: 15px;"><img src="~/img/coin.png" style="image-rendering: pixelated;">@Model.Money</p> 
</div>

<div class="wrapper">
    <div class="avatar">
    <img src="@Model.ColorImage" class="ava" style="z-index: 2; top: 60px;" id="cat" alt="avatarCat">
    <img src="@Model.WallpaperImage" class="ava" style="z-index: 1; top: 75px" id="wallpaper" alt="avatar">
        @if (Model.AccessoryImage != null)
        {
            <img src="@Model.AccessoryImage" class="ava" style="z-index: 3; top: 34px; padding-left: 54px" id="accessory" alt="accessoryCat">
        }
        <div id="rectangle" style="top: 147px;"></div>  
        <div>
            <p class="nickname" style="top: 207px;">@Model.Name</p>
        </div>
        <div class="heart" style="top: 245px">
            @if (Model.HP % 2 == 0)
            {
                for(int i = 0; i < Model.HP/2; i++){
                    <img src="~/img/heart.png" alt="heart">
                }
            }
            else
            {
                for(int i = 0; i < (Model.HP-1)/2; i++){
                    <img src="~/img/heart.png" alt="heart">
                }
                <img src="~/img/half_heart.png" alt="heart">
            }
            
        </div>
        <div class="xp">
            <img src="~/img/star.png" alt="xp" style="top: 280px">
            @*Число 20 в формуле заменяет порог опыта для данного уровня*@
            <progress id="xpvalue" max="100" value="@Convert.ToInt32((double)Model.XP/20 * 100)" style="top: 250px"> </progress>
        </div>
       <div class="level" style="top: 333px;">
           <div>
               <p>Level</p>
               <p class="num">@Model.Level</p>
           </div>
           <div>
               <p>Intellect</p>
               <p class="num">@Model.Intellect</p>
           </div>
           <div>
               <p>Strength</p>
               <p class="num">@Model.Strength</p>
           </div>
       </div>
    </div>
</div>