@model IQueryable<Message>;   

<div class="bar" style="display: table; z-index:-1; position: absolute; top: -10px; right: 0px; width: 100%; box-sizing: border-box; height: 50px; margin: 0; background-color: #3D3655;"></div>
<section class="msger">
    <div class="msger-chat">
        @foreach (var message in Model)
        {
            if (message.MyUserName != ViewBag.Username)
            {
                <div class="msg left-msg">
                    <div class="msg-img"><img src="~/img/cat4.png"></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">@message.MyUserName</div>
                            <time class="msg-info-time">@message.Sending_Time.Day.@message.Sending_Time.Month @message.Sending_Time.Hour:@message.Sending_Time.Minute</time>
                        </div>

                        <div class="msg-text">@message.Text</div>
                    </div>
                </div>
            }

            if (message.MyUserName == ViewBag.Username)
            {
                <div class="msg right-msg">
                    <div class="msg-img"><img src="~/img/cat0.png"></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">@message.MyUserName</div>
                            <time class="msg-info-time">@message.Sending_Time.Day.@message.Sending_Time.Month @message.Sending_Time.Hour:@message.Sending_Time.Minute</time>
                        </div>

                        <div class="msg-text">@message.Text</div>
                    </div>
                </div>
            }
        }
    </div>
</section>

<style>
:root {
--msger-bg: #fff;
--border: 2px solid #ddd;
--left-msg-bg: #ececec;
--right-msg-bg: #3D3655;
}

*,
*:before,
*:after {
margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
body {
font-family: Rubik;
}

.money {
display: table;
position: absolute;
right: 0px;
top: -20px;
width: 100%;
box-sizing: border-box;
margin: 0;
background-color: #3D3655;
}
.money img{
image-rendering: pixelated;
}

.money p{
position: relative;
float: right;
top: 18px;
right: 15px;
color: white;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: calc(100vh - 150px);
    padding-top: 80px;
    padding-left: 150px;
}

.msger-chat {
    flex: 1;
    width: 99%;
    padding-left: 40px;
    overflow-y: auto;
}
.msger-chat::-webkit-scrollbar {
    width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg {
    display: flex;
    align-items: flex-end;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: -10px;
}
.msg:last-of-type {
    margin: 0;
}
.msg-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background: rgb(242, 241, 241);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: dashed;
    border-color: #bdbdbd;
    border-radius: 50%;
}

.msg-img img{
    pointer-events: none;
    width: 60px;
    image-rendering: pixelated;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-chat {
    background-color: #fcfcfe;
    border-radius: 48px 48px 0px 0px;
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
}
</style>